# Archivos de configuración sensibles
src/main/resources/application.properties

# Archivos generados por el IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# Archivos compilados
target/
*.class
*.jar
*.war
*.ear

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
